html,body {
    height: 100%;
}
body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-fluid {
    height: 100%;
}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    height: 100%;
    display: block;
    padding-top: 20px;
    background-color: rgb(44, 59, 65);
}

#sidebar {
    padding-right: 0;
    padding-left: 0;
    position: fixed;
    margin-top: 50px;
}

#sidebar .nav-pills>li>a {
    border-radius: 0;
    color: #b8c7ce;
    padding-right: 0;
}

#sidebar .nav-pills>li.active>a {
    color: #fff;
    background-color: #1e282c;
}

#sidebar .nav-pills>li:hover>a {
    background-color: #1e282c;
}

.sidebar li:hover,.sidebar li.active,.sidebar li a:visited {
    background-color: #1e282c;
}

.sidebar li.active a{
    color: #fff;
}

.row {
    height: 100%;
}

.navbar {
    background-color: #3c8dbc;
}

.navbar a {
    color: white;
}

.navbar-header {
    background-color: #367fa9;
}

.navbar-header a:hover {
    color: white;
}

.main {
    padding: 0px 20px 20px 20px ;
    min-height: 100%;
    background-color: #ecf0f5;
}

.main h3 {
    margin-top: 0;
}

.main-c {
    padding-left: 20px;
    padding-right: 20px;
}

div.main-title {
    padding-top:25px;
}

#main-c-indicator {
    padding-right: 35px;
}

#main-c-indicator .row{
    padding-top:0;
}

#main-c-indicator .btn{
    width:100%;
}

.main-c-indicator h2 {
    font-weight: bold;
}

.main-c-info {
    background-color: white; 
    border-radius:4px;   
}

.main-c-info .row {
    padding-top: 10px;
}

.main-c-header {
    background-color:#fff2e6;
    font-size:14px;
    padding-bottom:5px;
}

#auto-refresh-label {
    text-align:right;
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}

#statuslist {
    margin-top: 20px;    
}

#blogChart {
    height: 250px;
}

#jobdetailrefresh {
    padding: 6px 9px;
}

#jobdetailrefreshdiv {
    margin-right: -15px;
}

#jobdetailrefresh span {
    margin-right: 0;
}

.a-white {
    color: white;
}

.a-white:hover,.a-white:visited,.a-white:focus {
    color: white;
    text-decoration: none;
}

.glyphicon {
    margin-right:10px;
}