html,body {
    height: 100%;
}
body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-fluid {
    height: 100%;
}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    height: 100%;
    display: block;
    padding-top: 20px;
    background-color: rgb(44, 59, 65);
}

#sidebar {
    padding-right: 0;
}

.sidebar li:hover {
    background-color: #1e282c;
}

.sidebar li.active {
    background-color: #1e282c;
}

.sidebar li.active a{
    color: #fff;
}

.row {
    height: 100%;
}

.navbar {
    background-color: #3c8dbc;
}

.navbar a {
    color: white;
}

.nav.nav-sidebar li a {
    color: #b8c7ce;
    padding-right: 0;
}

.nav.nav-sidebar li.active a {
    color: #fff;
}

.nav.nav-sidebar li:hover a {
    background-color: #1e282c;
}

.navbar-header {
    background-color: #367fa9;
}

.navbar-header a:hover {
    color: white;
}

.main {
    padding: 0px 20px 20px 20px ;
    height: 100%;
    background-color: #ecf0f5;
}

.main h3 {
    margin-top: 0;
}

.main-c {
    padding-left: 20px;
    padding-right: 20px;
}
.main-c-header {
    background-color:wheat;
    padding-bottom:5px;
}

div.main-title {
    padding-top:25px;
}

#main-c-indicator {
    padding-right: 35px;
}

#main-c-indicator .row{
    padding-top:0;
}

#main-c-indicator .btn{
    width:100%;
}

.main-c-indicator h2 {
    font-weight: bold;
}

.main-c-info {
    background-color: white; 
    border-radius:4px;   
}

.main-c-info .row {
    padding-top: 10px;
}

.main-c-header {
    background-color:#fcf8e3;
    font-size:14px;
}

#auto-refresh-label {
    text-align:right;
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}

#blogChart {
    height: 250px;
}

.a-white {
    color: white;
}

.a-white:hover,.a-white:visited {
    color: white;
    text-decoration: none;
}

.bg-green {
  background-color: #00a65a;
}

.bg-green-gradient {
  background: #00a65a !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important;
  background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;
  background: -moz-linear-gradient(center bottom, #00a65a 0%, #00ca6d 100%) !important;
  background: -o-linear-gradient(#00ca6d, #00a65a) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important;
  color: #fff;
}

.glyphicon {
    margin-right:10px;
}