@using MSDNDashboard.Models
@model IEnumerable<MSDNDashboard.Models.Job>

@{
    // status:
    // 0 Not Running
    // 1 Running
    int status = 0;
    Job currentDisplayJob = Model.FirstOrDefault(j=>j.Status==JobStatus.Running);

    if (currentDisplayJob != default(Job))
    {
        status = 1;
    }
    else
    {
        currentDisplayJob = Model.Where(j => j.Status == JobStatus.Succeeded || j.Status == JobStatus.Failed).OrderByDescending(j=>j.StartTimestamp).FirstOrDefault();
    }
    Job nextScheduledJob = Model.Where(j => j.Status == JobStatus.Scheduled).OrderBy(j => j.StartTimestamp).FirstOrDefault();

    ViewBag.nextScheduledJob = nextScheduledJob;
    ViewBag.status = status;

}
@{
    ViewBag.Title = "MSDN BlogsWiki Dashboard";
}

<div class="row main-title">
    <div class="col-md-1">
        <h3>Dashboard</h3>
    </div>
</div>



<div id="current-state-partial" class="row main-c">
    @{Html.RenderPartial("CurrentStatePartial", currentDisplayJob ?? new Job());}
</div>

<div class="row main-title">
    <div class="col-md-12">
        <h3>Job History</h3>
    </div>
</div>

<div id="history-partial" class="row main-c">
    @{Html.RenderPartial("JobHistoryPartial", Model);}
</div>



